In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
#!pip install pyspark

import pyspark

sc = pyspark.SparkContext(appName="songs_and_spark")

songs = [
        "Despacito",
        "Nice for what",
        "No tears left to cry",
        "Despacito",
        "Havana",
        "In my feelings",
        "Nice for what",
        "despacito",
        "All the stars"
]

# parallelize the log_of_songs to use with Spark
distributed_songs = sc.parallelize(songs)

In [3]:
distributed_songs

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [4]:
def convert_song_to_lowercase(song):
  return song.lower()

In [5]:
distributed_songs.map(convert_song_to_lowercase)

PythonRDD[1] at RDD at PythonRDD.scala:53

In [6]:
distributed_songs.map(convert_song_to_lowercase).collect()

['despacito',
 'nice for what',
 'no tears left to cry',
 'despacito',
 'havana',
 'in my feelings',
 'nice for what',
 'despacito',
 'all the stars']

In [7]:
def convert_song_to_uppercase(song):
  return song.upper()

distributed_songs.map(convert_song_to_uppercase)

PythonRDD[3] at RDD at PythonRDD.scala:53

In [8]:
distributed_songs.map(convert_song_to_uppercase).collect()

['DESPACITO',
 'NICE FOR WHAT',
 'NO TEARS LEFT TO CRY',
 'DESPACITO',
 'HAVANA',
 'IN MY FEELINGS',
 'NICE FOR WHAT',
 'DESPACITO',
 'ALL THE STARS']

In [9]:
distributed_songs.collect()

['Despacito',
 'Nice for what',
 'No tears left to cry',
 'Despacito',
 'Havana',
 'In my feelings',
 'Nice for what',
 'despacito',
 'All the stars']

In [11]:
# Reading and Writing Data with Spark
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.appName("songs_and_spark").getOrCreate()

In [13]:
spark.sparkContext.getConf().getAll()

[('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.app.startTime', '1735586998266'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.host', 'dad2a7e2e20c'),
 ('spark.app.name', 'songs_and_spark'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.driver.port', '35223'),
 ('spark.app.id', 'local-1735586999850'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.submitTime', '1735586997970'),
 ('spark.ui.showConsoleProgress', 'true')]

In [14]:
spark

In [17]:
path = "/content/pyspark"
songs_log = spark.read.json(path)

In [18]:
songs_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [19]:
dir(songs_log)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_ipython_key_completions_',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_show_string',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 'agg',
 'alias',
 'approxQuantile',
 'artist',
 'auth',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'dropDuplicatesWithinWatermark',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'firstName',
 'foreach',
 'foreachPartition',
 'freqItems',
 'gender',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'itemInSession',
 'join',
 'lastName',
 'length',
 'level',
 'limit',
 'localCheckpoint',
 'location',
 'mapInArrow',
 'mapInPandas',
 'melt',
 'method',
 'na',
 'observe',
 'offset',
 'orderBy',
 'page',
 'pandas_api',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'registration',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'sessionId',
 'show',
 'song',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'status',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'to',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'transform',
 'ts',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'unpivot',
 'userAgent',
 'userId',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withColumnsRenamed',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [20]:
songs_log.take(5)

[Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046'),
 Row(artist='Lily Allen', auth='Logged In', firstName='Elizabeth', gender='F', itemInSession=7, lastName='Chase', length=195.23873, level='free', location='Shreveport-Bossier City, LA', method='PUT', page='NextSong', registration=1512718541284, sessionId=5027, song='Cheryl Tweedy', status=200, ts=1513720878284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='1000'),
 Row(artist='Cobra Starship Featuring Leighton Meester', auth='Logged In', firstName='Vera', gender='F', itemInSession=6, lastName='Blackwell', length=196.20526, level='paid', location='Racine, WI', method='PUT', page='NextSong', registration=1499855749284, sessionId=5516, song='Good Girls Go Bad (Feat.Leighton Meester) (Album Version)', status=200, ts=1513720881284, userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', userId='2219'),
 Row(artist='Alex Smoke', auth='Logged In', firstName='Sophee', gender='F', itemInSession=8, lastName='Barker', length=405.99465, level='paid', location='San Luis Obispo-Paso Robles-Arroyo Grande, CA', method='PUT', page='NextSong', registration=1513009647284, sessionId=2372, song="Don't See The Point", status=200, ts=1513720905284, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='2373'),
 Row(artist=None, auth='Logged In', firstName='Jordyn', gender='F', itemInSession=0, lastName='Jones', length=None, level='free', location='Syracuse, NY', method='GET', page='Home', registration=1513648531284, sessionId=1746, song=None, status=200, ts=1513720913284, userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', userId='1747')]

In [23]:
songs_log.show(n=13)

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|       Showaddywaddy|Logged In|  Kenneth|     M|          112| Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|
|          Lily Allen|Logged In|Elizabeth|     F|            7|    Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|
|Cobra Starship Fe...|Logged In|     Vera|     F|            6|Blackwell|196.20526| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Good Girls Go Bad...|   200|1513720881284|"Mozilla/5.0 (Mac...|  2219|
|          Alex Smoke|Logged In|   Sophee|     F|            8|   Barker|405.99465| paid|San Luis Obispo-P...|   PUT|NextSong|1513009647284|     2372| Don't See The Point|   200|1513720905284|"Mozilla/5.0 (Win...|  2373|
|                NULL|Logged In|   Jordyn|     F|            0|    Jones|     NULL| free|        Syracuse, NY|   GET|    Home|1513648531284|     1746|                NULL|   200|1513720913284|"Mozilla/5.0 (Mac...|  1747|
|                NULL|Logged In|   Jordyn|     F|            1|    Jones|     NULL| free|        Syracuse, NY|   GET|Settings|1513648531284|     1746|                NULL|   200|1513720932284|"Mozilla/5.0 (Mac...|  1747|
|              Redman|Logged In|    Paige|     F|            0|   Hunter|154.53995| free|       Brownwood, TX|   PUT|NextSong|1498414068284|     4406|        Smoke Buddah|   200|1513720955284|"Mozilla/5.0 (Mac...|  1162|
|     Ulrich Schnauss|Logged In|  Gabriel|     M|            2|     Koch|402.93832| paid|     Panama City, FL|   PUT|NextSong|1505820418284|     1060|           On My Own|   200|1513720959284|Mozilla/5.0 (Wind...|  1061|
|                NULL|Logged In|    Mason|     M|            2|   Thomas|     NULL| paid|Indianapolis-Carm...|   GET|    Home|1487015656284|     5661|                NULL|   200|1513720959284|Mozilla/5.0 (comp...|   748|
|                NULL|Logged In|Alexander|     M|            0|    Short|     NULL| free|       Green Bay, WI|   GET|    Home|1513594398284|     3689|                NULL|   200|1513720980284|"Mozilla/5.0 (Win...|   597|
|               Jay-Z|Logged In|  Micheal|     M|           23|   Morgan|223.26812| paid|        Sterling, CO|   PUT|NextSong|1485051492284|     5175|Heart Of The City...|   200|1513720983284|"Mozilla/5.0 (Win...|  1806|
|         Evanescence|Logged In|    Mason|     M|            3|   Thomas|237.11302| paid|Indianapolis-Carm...|   PUT|NextSong|1487015656284|     5661|    Bring Me To Life|   200|1513720993284|Mozilla/5.0 (comp...|   748|
|     Scissor Sisters|Logged In|   Justin|     M|           82|    Jones|218.01751| paid|          Dayton, TN|   PUT|NextSong|1504706730284|     1175|               Laura|   200|1513721031284|"Mozilla/5.0 (Win...|  1176|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 13 rows

In [24]:
songs_log.groupBy('artist').count().show()

+--------------------+-----+
|              artist|count|
+--------------------+-----+
|      The Black Keys|   40|
|        STRATOVARIUS|    1|
|      The Chameleons|    1|
|Dashboard Confess...|    3|
|      Jarabe De Palo|    3|
|        Ziggy Marley|    1|
|        Yann Tiersen|   10|
|  The Watts Prophets|    1|
|            Goldfish|    1|
|           Kate Nash|    3|
|              DJ Taz|    1|
|    Jane's Addiction|    1|
|         Eva Cassidy|    4|
|               Rufio|    1|
|           Los Lobos|    4|
|         Silverstein|    1|
|        Rhett Miller|    1|
|              Nebula|    1|
|Yonder Mountain S...|    1|
|     Groove Coverage|    1|
+--------------------+-----+
only showing top 20 rows

In [25]:
songs_log.drop_duplicates().show()

+--------------------+---------+---------+------+-------------+----------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|     auth|firstName|gender|itemInSession|  lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+---------+---------+------+-------------+----------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|               Petra|Logged In|  Gabriel|     M|           10|      Koch|291.05587| paid|     Panama City, FL|   PUT|NextSong|1505820418284|     1060|         Whole World|   200|1513723045284|Mozilla/5.0 (Wind...|  1061|
|     Alliance Ethnik|Logged In|  Abigail|     F|           36|  Davidson|252.21179| paid|Lansing-East Lans...|   PUT|NextSong|1513173389284|     4591|       ReprÃÂ©sente|   200|1513728452284|"Mozilla/5.0 (Mac...|   226|
|Chris Brown featu...|Logged In| Karleigh|     F|           13|Valenzuela|250.67057| paid|Wisconsin Rapids-...|   PUT|NextSong|1489899558284|     4934|           Kiss Kiss|   200|1513734425284|"Mozilla/5.0 (Mac...|  2462|
|          The Script|Logged In| Jonathan|     M|           51|   Webster|260.67546| paid|Los Angeles-Long ...|   PUT|NextSong|1505697773284|     1078|           Breakeven|   200|1513760229284|"Mozilla/5.0 (Mac...|  1079|
|   Cage The Elephant|Logged In|   Alexis|     F|            7|      Diaz|197.38077| paid|    Fort Collins, CO|   PUT|NextSong|1495269268284|      173|     Soil To The Sun|   200|1513770782284|"Mozilla/5.0 (Win...|   174|
|Two Door Cinema Club|Logged In|   Evelyn|     F|            0|    Norman|190.56281| paid|Atlanta-Sandy Spr...|   PUT|NextSong|1508811189284|     6145|You Are Not Stubborn|   200|1513777209284|Mozilla/5.0 (Wind...|  1579|
|           Relient K|Logged In|   Tyanna|     F|           23|     Jones|238.94159| paid|       Cedartown, GA|   PUT|NextSong|1487337122284|     2293|Jefferson Aeropla...|   200|1513777797284|"Mozilla/5.0 (Win...|  2294|
|           Metallica|Logged In|   Tyanna|     F|           41|     Jones|515.21261| paid|       Cedartown, GA|   PUT|NextSong|1487337122284|     2293|   Master Of Puppets|   200|1513781025284|"Mozilla/5.0 (Win...|  2294|
|        Beastie Boys|Logged In|   Robert|     M|            0|     Glass|228.91057| free|San Antonio-New B...|   PUT|NextSong|1508720158284|     5293|Alive (Digitally ...|   200|1513781079284|"Mozilla/5.0 (Win...|  1403|
|Alison Krauss / U...|Logged In|     Kade|     M|           29|     Jones|200.12363| paid|        Key West, FL|   PUT|NextSong|1508056774284|      597|Let Me Touch You ...|   200|1513781913284|Mozilla/5.0 (Wind...|   598|
|         Josh Groban|Logged In|   Calvin|     M|            0|    Wright|265.27302| free|         Jackson, MS|   PUT|NextSong|1503455052284|     5699|Un Amore Per Semp...|   200|1513782699284|"Mozilla/5.0 (Mac...|  2361|
|              Metric|Logged In|   Olivia|     F|            0|    Oneill|286.24934| paid|Allentown-Bethleh...|   PUT|NextSong|1488509117284|     1084|      Help I'm Alive|   200|1513785525284|"Mozilla/5.0 (Mac...|  1085|
|Steppenwolf / Joh...|Logged In|    Mason|     M|           46|    Thomas|233.82159| paid|Indianapolis-Carm...|   PUT|NextSong|1487015656284|     5909|    Snowblind Friend|   200|1513785689284|Mozilla/5.0 (comp...|   748|
|          Kanye West|Logged In|   Hayden|     M|            2| Hernandez| 203.4673| free|     Terre Haute, IN|   PUT|NextSong|1505062364284|      358|          Homecoming|   200|1513786508284|Mozilla/5.0 (Wind...|   359|
| Angels and Airwaves|Logged In|    Tyler|     M|            1|      Lutz|302.05342| free|Cincinnati, OH-KY-IN|   PUT|NextSong|1506469292284|     3659|            The Gift|   200|1513786578284|"Mozilla/5.0 (Mac...|  2885|
|           Cleopatra|Logged In|    Kaden|     M|           10|    Mclean|249.20771| paid|Phoenix-Mesa-Scot...|   PUT|NextSong|1504346253284|     5642|   Cleopatra's Theme|   200|1513788024284|"Mozilla/5.0 (Mac...|  1611|
|The Pretend It's ...|Logged In|   Kamani|     F|            9|    Suarez|265.53424| paid|    Worcester, MA-CT|   PUT|NextSong|1507035661284|     4610|It's Christmas So...|   200|1513789093284|"Mozilla/5.0 (Win...|  2281|
|             Man Man|Logged In|  Enrique|     M|            5|    Miller|617.87383| paid|Chicago-Napervill...|   PUT|NextSong|1500182660284|     6616|Werewolf (on the ...|   200|1513789902284|"Mozilla/5.0 (Win...|    58|
|    Edith MÃÂ¡rquez|Logged In|     Jack|     M|           44|     Kelly|295.96689| paid|Los Angeles-Long ...|   PUT|NextSong|1492304380284|     5341|VuÃÂ©lveme A Querer|   200|1513790235284|"Mozilla/5.0 (Mac...|  1869|
|       The Cardigans|Logged In|  Brianna|     F|            1|  Townsend|272.01261| free|          Fresno, CA|   PUT|NextSong|1513349836284|     6134|Lead Me Into The ...|   200|1513794454284|"Mozilla/5.0 (Mac...|  1851|
+--------------------+---------+---------+------+-------------+----------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 20 rows

In [26]:
songs_log.distinct().show()

+--------------------+---------+---------+------+-------------+----------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|     auth|firstName|gender|itemInSession|  lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+---------+---------+------+-------------+----------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|               Petra|Logged In|  Gabriel|     M|           10|      Koch|291.05587| paid|     Panama City, FL|   PUT|NextSong|1505820418284|     1060|         Whole World|   200|1513723045284|Mozilla/5.0 (Wind...|  1061|
|     Alliance Ethnik|Logged In|  Abigail|     F|           36|  Davidson|252.21179| paid|Lansing-East Lans...|   PUT|NextSong|1513173389284|     4591|       ReprÃÂ©sente|   200|1513728452284|"Mozilla/5.0 (Mac...|   226|
|Chris Brown featu...|Logged In| Karleigh|     F|           13|Valenzuela|250.67057| paid|Wisconsin Rapids-...|   PUT|NextSong|1489899558284|     4934|           Kiss Kiss|   200|1513734425284|"Mozilla/5.0 (Mac...|  2462|
|          The Script|Logged In| Jonathan|     M|           51|   Webster|260.67546| paid|Los Angeles-Long ...|   PUT|NextSong|1505697773284|     1078|           Breakeven|   200|1513760229284|"Mozilla/5.0 (Mac...|  1079|
|   Cage The Elephant|Logged In|   Alexis|     F|            7|      Diaz|197.38077| paid|    Fort Collins, CO|   PUT|NextSong|1495269268284|      173|     Soil To The Sun|   200|1513770782284|"Mozilla/5.0 (Win...|   174|
|Two Door Cinema Club|Logged In|   Evelyn|     F|            0|    Norman|190.56281| paid|Atlanta-Sandy Spr...|   PUT|NextSong|1508811189284|     6145|You Are Not Stubborn|   200|1513777209284|Mozilla/5.0 (Wind...|  1579|
|           Relient K|Logged In|   Tyanna|     F|           23|     Jones|238.94159| paid|       Cedartown, GA|   PUT|NextSong|1487337122284|     2293|Jefferson Aeropla...|   200|1513777797284|"Mozilla/5.0 (Win...|  2294|
|           Metallica|Logged In|   Tyanna|     F|           41|     Jones|515.21261| paid|       Cedartown, GA|   PUT|NextSong|1487337122284|     2293|   Master Of Puppets|   200|1513781025284|"Mozilla/5.0 (Win...|  2294|
|        Beastie Boys|Logged In|   Robert|     M|            0|     Glass|228.91057| free|San Antonio-New B...|   PUT|NextSong|1508720158284|     5293|Alive (Digitally ...|   200|1513781079284|"Mozilla/5.0 (Win...|  1403|
|Alison Krauss / U...|Logged In|     Kade|     M|           29|     Jones|200.12363| paid|        Key West, FL|   PUT|NextSong|1508056774284|      597|Let Me Touch You ...|   200|1513781913284|Mozilla/5.0 (Wind...|   598|
|         Josh Groban|Logged In|   Calvin|     M|            0|    Wright|265.27302| free|         Jackson, MS|   PUT|NextSong|1503455052284|     5699|Un Amore Per Semp...|   200|1513782699284|"Mozilla/5.0 (Mac...|  2361|
|              Metric|Logged In|   Olivia|     F|            0|    Oneill|286.24934| paid|Allentown-Bethleh...|   PUT|NextSong|1488509117284|     1084|      Help I'm Alive|   200|1513785525284|"Mozilla/5.0 (Mac...|  1085|
|Steppenwolf / Joh...|Logged In|    Mason|     M|           46|    Thomas|233.82159| paid|Indianapolis-Carm...|   PUT|NextSong|1487015656284|     5909|    Snowblind Friend|   200|1513785689284|Mozilla/5.0 (comp...|   748|
|          Kanye West|Logged In|   Hayden|     M|            2| Hernandez| 203.4673| free|     Terre Haute, IN|   PUT|NextSong|1505062364284|      358|          Homecoming|   200|1513786508284|Mozilla/5.0 (Wind...|   359|
| Angels and Airwaves|Logged In|    Tyler|     M|            1|      Lutz|302.05342| free|Cincinnati, OH-KY-IN|   PUT|NextSong|1506469292284|     3659|            The Gift|   200|1513786578284|"Mozilla/5.0 (Mac...|  2885|
|           Cleopatra|Logged In|    Kaden|     M|           10|    Mclean|249.20771| paid|Phoenix-Mesa-Scot...|   PUT|NextSong|1504346253284|     5642|   Cleopatra's Theme|   200|1513788024284|"Mozilla/5.0 (Mac...|  1611|
|The Pretend It's ...|Logged In|   Kamani|     F|            9|    Suarez|265.53424| paid|    Worcester, MA-CT|   PUT|NextSong|1507035661284|     4610|It's Christmas So...|   200|1513789093284|"Mozilla/5.0 (Win...|  2281|
|             Man Man|Logged In|  Enrique|     M|            5|    Miller|617.87383| paid|Chicago-Napervill...|   PUT|NextSong|1500182660284|     6616|Werewolf (on the ...|   200|1513789902284|"Mozilla/5.0 (Win...|    58|
|    Edith MÃÂ¡rquez|Logged In|     Jack|     M|           44|     Kelly|295.96689| paid|Los Angeles-Long ...|   PUT|NextSong|1492304380284|     5341|VuÃÂ©lveme A Querer|   200|1513790235284|"Mozilla/5.0 (Mac...|  1869|
|       The Cardigans|Logged In|  Brianna|     F|            1|  Townsend|272.01261| free|          Fresno, CA|   PUT|NextSong|1513349836284|     6134|Lead Me Into The ...|   200|1513794454284|"Mozilla/5.0 (Mac...|  1851|
+--------------------+---------+---------+------+-------------+----------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 20 rows

In [27]:
songs_log.dropDuplicates()

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: bigint, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string]

In [28]:
songs_log.describe()

DataFrame[summary: string, artist: string, auth: string, firstName: string, gender: string, itemInSession: string, lastName: string, length: string, level: string, location: string, method: string, page: string, registration: string, sessionId: string, song: string, status: string, ts: string, userAgent: string, userId: string]

In [30]:
# Save the songs_log file to a csv file
out_path = "/content/pyspark/spark_log_small.csv"
songs_log.write.save(out_path, format="csv", header=True)

In [31]:
songs_log = spark.read.csv(out_path, header=True)

In [32]:
songs_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: string (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: string (nullable = true)
 |-- sessionId: string (nullable = true)
 |-- song: string (nullable = true)
 |-- status: string (nullable = true)
 |-- ts: string (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [34]:
songs_log.take(12)

[Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession='112', lastName='Matthews', length='232.93342', level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration='1509380319284', sessionId='5132', song='Christmas Tears Will Fall', status='200', ts='1513720872284', userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046'),
 Row(artist='Lily Allen', auth='Logged In', firstName='Elizabeth', gender='F', itemInSession='7', lastName='Chase', length='195.23873', level='free', location='Shreveport-Bossier City, LA', method='PUT', page='NextSong', registration='1512718541284', sessionId='5027', song='Cheryl Tweedy', status='200', ts='1513720878284', userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='1000'),
 Row(artist='Cobra Starship Featuring Leighton Meester', auth='Logged In', firstName='Vera', gender='F', itemInSession='6', lastName='Blackwell', length='196.20526', level='paid', location='Racine, WI', method='PUT', page='NextSong', registration='1499855749284', sessionId='5516', song='Good Girls Go Bad (Feat.Leighton Meester) (Album Version)', status='200', ts='1513720881284', userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', userId='2219'),
 Row(artist='Alex Smoke', auth='Logged In', firstName='Sophee', gender='F', itemInSession='8', lastName='Barker', length='405.99465', level='paid', location='San Luis Obispo-Paso Robles-Arroyo Grande, CA', method='PUT', page='NextSong', registration='1513009647284', sessionId='2372', song="Don't See The Point", status='200', ts='1513720905284', userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='2373'),
 Row(artist=None, auth='Logged In', firstName='Jordyn', gender='F', itemInSession='0', lastName='Jones', length=None, level='free', location='Syracuse, NY', method='GET', page='Home', registration='1513648531284', sessionId='1746', song=None, status='200', ts='1513720913284', userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', userId='1747'),
 Row(artist=None, auth='Logged In', firstName='Jordyn', gender='F', itemInSession='1', lastName='Jones', length=None, level='free', location='Syracuse, NY', method='GET', page='Settings', registration='1513648531284', sessionId='1746', song=None, status='200', ts='1513720932284', userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', userId='1747'),
 Row(artist='Redman', auth='Logged In', firstName='Paige', gender='F', itemInSession='0', lastName='Hunter', length='154.53995', level='free', location='Brownwood, TX', method='PUT', page='NextSong', registration='1498414068284', sessionId='4406', song='Smoke Buddah', status='200', ts='1513720955284', userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', userId='1162'),
 Row(artist='Ulrich Schnauss', auth='Logged In', firstName='Gabriel', gender='M', itemInSession='2', lastName='Koch', length='402.93832', level='paid', location='Panama City, FL', method='PUT', page='NextSong', registration='1505820418284', sessionId='1060', song='On My Own', status='200', ts='1513720959284', userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0', userId='1061'),
 Row(artist=None, auth='Logged In', firstName='Mason', gender='M', itemInSession='2', lastName='Thomas', length=None, level='paid', location='Indianapolis-Carmel-Anderson, IN', method='GET', page='Home', registration='1487015656284', sessionId='5661', song=None, status='200', ts='1513720959284', userAgent='Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)', userId='748'),
 Row(artist=None, auth='Logged In', firstName='Alexander', gender='M', itemInSession='0', lastName='Short', length=None, level='free', location='Green Bay, WI', method='GET', page='Home', registration='1513594398284', sessionId='3689', song=None, status='200', ts='1513720980284', userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='597'),
 Row(artist='Jay-Z', auth='Logged In', firstName='Micheal', gender='M', itemInSession='23', lastName='Morgan', length='223.26812', level='paid', location='Sterling, CO', method='PUT', page='NextSong', registration='1485051492284', sessionId='5175', song="Heart Of The City (Ain't No Love)", status='200', ts='1513720983284', userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='1806'),
 Row(artist='Evanescence', auth='Logged In', firstName='Mason', gender='M', itemInSession='3', lastName='Thomas', length='237.11302', level='paid', location='Indianapolis-Carmel-Anderson, IN', method='PUT', page='NextSong', registration='1487015656284', sessionId='5661', song='Bring Me To Life', status='200', ts='1513720993284', userAgent='Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)', userId='748')]

In [37]:
songs_log.select("userID").show(n=5)

+------+
|userID|
+------+
|  1046|
|  1000|
|  2219|
|  2373|
|  1747|
+------+
only showing top 5 rows

In [38]:
songs_log.select("level").show(n=7)

+-----+
|level|
+-----+
| paid|
| free|
| paid|
| paid|
| free|
| free|
| free|
+-----+
only showing top 7 rows

In [39]:
# Data Exploration
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [41]:
path = "/content/pyspark/sparkify_log_small.json"
user_log = spark.read.json(path)

In [42]:
user_log.describe("registration", "sessionId").show()

+-------+--------------------+------------------+
|summary|        registration|         sessionId|
+-------+--------------------+------------------+
|  count|                9664|             10000|
|   mean|1.504695369588739...|         4436.7511|
| stddev| 8.473142521316586E9|2043.1281541827552|
|    min|       1463503881284|                 9|
|    max|       1513760702284|              7144|
+-------+--------------------+------------------+

In [43]:
user_log.count()

10000

In [44]:
user_log.select("page").dropDuplicates().sort("page").show()

+----------------+
|            page|
+----------------+
|           About|
|       Downgrade|
|           Error|
|            Help|
|            Home|
|           Login|
|          Logout|
|        NextSong|
|   Save Settings|
|        Settings|
|Submit Downgrade|
|  Submit Upgrade|
|         Upgrade|
+----------------+

In [45]:
user_log.select(
    ["userId", "firstname", "page", "song"]
    ).where(user_log.userId == "1000").collect()

[Row(userId='1000', firstname='Elizabeth', page='NextSong', song='Cheryl Tweedy')]

In [46]:
user_log.select(["userId", "firstname"]).groupBy("userId").count().collect()

#user_log.select("userId").sort("userId").dropDuplicates().show()

[Row(userId='2904', count=1),
 Row(userId='691', count=4),
 Row(userId='2294', count=62),
 Row(userId='2162', count=39),
 Row(userId='1436', count=2),
 Row(userId='2088', count=14),
 Row(userId='2275', count=5),
 Row(userId='2756', count=8),
 Row(userId='800', count=3),
 Row(userId='1394', count=28),
 Row(userId='926', count=7),
 Row(userId='1746', count=2),
 Row(userId='2696', count=2),
 Row(userId='1280', count=2),
 Row(userId='870', count=2),
 Row(userId='7', count=2),
 Row(userId='1903', count=7),
 Row(userId='591', count=1),
 Row(userId='613', count=4),
 Row(userId='574', count=7),
 Row(userId='307', count=1),
 Row(userId='577', count=2),
 Row(userId='2402', count=4),
 Row(userId='2644', count=1),
 Row(userId='1043', count=3),
 Row(userId='1349', count=12),
 Row(userId='2964', count=1),
 Row(userId='462', count=122),
 Row(userId='1418', count=4),
 Row(userId='647', count=1),
 Row(userId='2392', count=1),
 Row(userId='2200', count=1),
 Row(userId='2980', count=9),
 Row(userId='442', count=7),
 Row(userId='2531', count=1),
 Row(userId='700', count=20),
 Row(userId='2628', count=3),
 Row(userId='448', count=1),
 Row(userId='282', count=8),
 Row(userId='1686', count=5),
 Row(userId='2720', count=1),
 Row(userId='2812', count=11),
 Row(userId='2988', count=2),
 Row(userId='1158', count=10),
 Row(userId='1377', count=3),
 Row(userId='862', count=1),
 Row(userId='635', count=1),
 Row(userId='1304', count=1),
 Row(userId='2415', count=1),
 Row(userId='1412', count=1),
 Row(userId='714', count=1),
 Row(userId='2079', count=8),
 Row(userId='2115', count=4),
 Row(userId='1290', count=100),
 Row(userId='625', count=2),
 Row(userId='200', count=1),
 Row(userId='2020', count=5),
 Row(userId='986', count=7),
 Row(userId='2354', count=2),
 Row(userId='11', count=3),
 Row(userId='1259', count=3),
 Row(userId='685', count=8),
 Row(userId='422', count=5),
 Row(userId='979', count=6),
 Row(userId='415', count=3),
 Row(userId='138', count=1),
 Row(userId='1497', count=31),
 Row(userId='961', count=5),
 Row(userId='387', count=6),
 Row(userId='323', count=1),
 Row(userId='2201', count=7),
 Row(userId='724', count=9),
 Row(userId='1943', count=2),
 Row(userId='2443', count=1),
 Row(userId='419', count=5),
 Row(userId='1205', count=2),
 Row(userId='2799', count=1),
 Row(userId='534', count=2),
 Row(userId='863', count=3),
 Row(userId='2587', count=10),
 Row(userId='890', count=3),
 Row(userId='2784', count=1),
 Row(userId='2772', count=1),
 Row(userId='686', count=2),
 Row(userId='1429', count=2),
 Row(userId='512', count=84),
 Row(userId='2349', count=5),
 Row(userId='308', count=16),
 Row(userId='1584', count=7),
 Row(userId='2224', count=2),
 Row(userId='1972', count=2),
 Row(userId='710', count=4),
 Row(userId='459', count=19),
 Row(userId='64', count=2),
 Row(userId='2942', count=4),
 Row(userId='541', count=17),
 Row(userId='446', count=18),
 Row(userId='2699', count=1),
 Row(userId='2111', count=6),
 Row(userId='970', count=29),
 Row(userId='30', count=2),
 Row(userId='1569', count=3),
 Row(userId='406', count=2),
 Row(userId='2759', count=10),
 Row(userId='1215', count=1),
 Row(userId='2085', count=2),
 Row(userId='2305', count=3),
 Row(userId='910', count=4),
 Row(userId='652', count=1),
 Row(userId='1758', count=4),
 Row(userId='880', count=4),
 Row(userId='2791', count=3),
 Row(userId='389', count=2),
 Row(userId='2842', count=3),
 Row(userId='1642', count=4),
 Row(userId='2164', count=84),
 Row(userId='1282', count=2),
 Row(userId='989', count=6),
 Row(userId='1775', count=1),
 Row(userId='59', count=2),
 Row(userId='2281', count=15),
 Row(userId='1678', count=7),
 Row(userId='2913', count=1),
 Row(userId='1911', count=3),
 Row(userId='2113', count=36),
 Row(userId='1926', count=3),
 Row(userId='1988', count=14),
 Row(userId='1347', count=2),
 Row(userId='1109', count=3),
 Row(userId='379', count=3),
 Row(userId='1918', count=1),
 Row(userId='1747', count=2),
 Row(userId='160', count=1),
 Row(userId='2017', count=1),
 Row(userId='2708', count=3),
 Row(userId='1296', count=5),
 Row(userId='2749', count=1),
 Row(userId='2882', count=3),
 Row(userId='2975', count=2),
 Row(userId='2816', count=3),
 Row(userId='1117', count=42),
 Row(userId='1821', count=1),
 Row(userId='1367', count=4),
 Row(userId='1814', count=1),
 Row(userId='1054', count=2),
 Row(userId='1452', count=2),
 Row(userId='951', count=1),
 Row(userId='184', count=4),
 Row(userId='2247', count=1),
 Row(userId='28', count=71),
 Row(userId='203', count=2),
 Row(userId='2496', count=1),
 Row(userId='888', count=36),
 Row(userId='1707', count=1),
 Row(userId='2685', count=4),
 Row(userId='1062', count=3),
 Row(userId='1609', count=1),
 Row(userId='628', count=24),
 Row(userId='343', count=2),
 Row(userId='856', count=68),
 Row(userId='2570', count=1),
 Row(userId='2946', count=2),
 Row(userId='2774', count=15),
 Row(userId='1941', count=2),
 Row(userId='917', count=1),
 Row(userId='597', count=3),
 Row(userId='712', count=13),
 Row(userId='2231', count=1),
 Row(userId='2773', count=2),
 Row(userId='1888', count=3),
 Row(userId='2991', count=1),
 Row(userId='35', count=11),
 Row(userId='1613', count=2),
 Row(userId='644', count=115),
 Row(userId='52', count=2),
 Row(userId='742', count=2),
 Row(userId='634', count=1),
 Row(userId='1074', count=1),
 Row(userId='1143', count=4),
 Row(userId='1635', count=5),
 Row(userId='807', count=3),
 Row(userId='1598', count=24),
 Row(userId='2035', count=1),
 Row(userId='441', count=3),
 Row(userId='187', count=2),
 Row(userId='1303', count=1),
 Row(userId='1476', count=1),
 Row(userId='1514', count=4),
 Row(userId='410', count=1),
 Row(userId='1906', count=5),
 Row(userId='1431', count=2),
 Row(userId='2703', count=3),
 Row(userId='1664', count=2),
 Row(userId='2954', count=1),
 Row(userId='2709', count=1),
 Row(userId='298', count=7),
 Row(userId='47', count=4),
 Row(userId='902', count=6),
 Row(userId='1141', count=1),
 Row(userId='594', count=1),
 Row(userId='568', count=4),
 Row(userId='99', count=1),
 Row(userId='2131', count=10),
 Row(userId='2319', count=1),
 Row(userId='726', count=1),
 Row(userId='892', count=2),
 Row(userId='2795', count=4),
 Row(userId='1375', count=6),
 Row(userId='107', count=5),
 Row(userId='1076', count=2),
 Row(userId='785', count=4),
 Row(userId='1770', count=1),
 Row(userId='1645', count=1),
 Row(userId='1866', count=7),
 Row(userId='2755', count=1),
 Row(userId='656', count=5),
 Row(userId='527', count=6),
 Row(userId='1278', count=1),
 Row(userId='1641', count=4),
 Row(userId='573', count=2),
 Row(userId='2877', count=1),
 Row(userId='2521', count=5),
 Row(userId='2028', count=4),
 Row(userId='1579', count=64),
 Row(userId='520', count=1),
 Row(userId='1193', count=1),
 Row(userId='1494', count=2),
 Row(userId='1543', count=4),
 Row(userId='1006', count=3),
 Row(userId='1608', count=1),
 Row(userId='825', count=1),
 Row(userId='804', count=3),
 Row(userId='1322', count=1),
 Row(userId='1454', count=4),
 Row(userId='873', count=1),
 Row(userId='1030', count=1),
 Row(userId='43', count=7),
 Row(userId='2638', count=2),
 Row(userId='421', count=1),
 Row(userId='1152', count=2),
 Row(userId='1592', count=1),
 Row(userId='2479', count=4),
 Row(userId='2048', count=1),
 Row(userId='2779', count=9),
 Row(userId='2123', count=1),
 Row(userId='2463', count=2),
 Row(userId='1022', count=2),
 Row(userId='2737', count=8),
 Row(userId='2731', count=4),
 Row(userId='2845', count=2),
 Row(userId='1307', count=3),
 Row(userId='1082', count=72),
 Row(userId='797', count=1),
 Row(userId='1940', count=3),
 Row(userId='2902', count=2),
 Row(userId='100', count=8),
 Row(userId='2775', count=5),
 Row(userId='2351', count=3),
 Row(userId='1697', count=24),
 Row(userId='1079', count=68),
 Row(userId='1749', count=1),
 Row(userId='2426', count=5),
 Row(userId='912', count=3),
 Row(userId='1383', count=11),
 Row(userId='2603', count=1),
 Row(userId='481', count=5),
 Row(userId='523', count=99),
 Row(userId='1568', count=1),
 Row(userId='359', count=4),
 Row(userId='2552', count=2),
 Row(userId='2251', count=3),
 Row(userId='1630', count=1),
 Row(userId='476', count=10),
 Row(userId='2322', count=2),
 Row(userId='745', count=1),
 Row(userId='174', count=31),
 Row(userId='1829', count=29),
 Row(userId='1520', count=2),
 Row(userId='1659', count=6),
 Row(userId='1232', count=180),
 Row(userId='2365', count=2),
 Row(userId='302', count=2),
 Row(userId='1959', count=32),
 Row(userId='632', count=19),
 Row(userId='761', count=56),
 Row(userId='2612', count=28),
 Row(userId='2002', count=49),
 Row(userId='2140', count=3),
 Row(userId='2734', count=27),
 Row(userId='168', count=2),
 Row(userId='2935', count=5),
 Row(userId='981', count=6),
 Row(userId='1182', count=2),
 Row(userId='364', count=3),
 Row(userId='505', count=1),
 Row(userId='2018', count=4),
 Row(userId='2892', count=89),
 Row(userId='1398', count=11),
 Row(userId='496', count=3),
 Row(userId='649', count=97),
 Row(userId='2359', count=87),
 Row(userId='2268', count=3),
 Row(userId='3002', count=3),
 Row(userId='1263', count=1),
 Row(userId='999', count=4),
 Row(userId='1238', count=2),
 Row(userId='493', count=8),
 Row(userId='1845', count=2),
 Row(userId='1809', count=3),
 Row(userId='2873', count=10),
 Row(userId='1777', count=46),
 Row(userId='219', count=1),
 Row(userId='1633', count=2),
 Row(userId='1772', count=2),
 Row(userId='1887', count=9),
 Row(userId='1834', count=3),
 Row(userId='1061', count=18),
 Row(userId='1865', count=137),
 Row(userId='1092', count=4),
 Row(userId='1964', count=4),
 Row(userId='2481', count=148),
 Row(userId='905', count=4),
 Row(userId='1261', count=3),
 Row(userId='1860', count=17),
 Row(userId='1580', count=3),
 Row(userId='120', count=3),
 Row(userId='2906', count=6),
 Row(userId='1046', count=30),
 Row(userId='1267', count=34),
 Row(userId='1384', count=2),
 Row(userId='1551', count=2),
 Row(userId='773', count=8),
 Row(userId='2710', count=3),
 Row(userId='2187', count=7),
 Row(userId='2480', count=2),
 Row(userId='2376', count=1),
 Row(userId='2673', count=6),
 Row(userId='2274', count=10),
 Row(userId='621', count=32),
 Row(userId='2744', count=2),
 Row(userId='374', count=2),
 Row(userId='1851', count=3),
 Row(userId='130', count=1),
 Row(userId='2694', count=5),
 Row(userId='1786', count=6),
 Row(userId='1854', count=11),
 Row(userId='375', count=3),
 Row(userId='1040', count=2),
 Row(userId='1272', count=4),
 Row(userId='2933', count=1),
 Row(userId='207', count=22),
 Row(userId='1444', count=1),
 Row(userId='1243', count=2),
 Row(userId='790', count=2),
 Row(userId='2611', count=1),
 Row(userId='2106', count=2),
 Row(userId='2719', count=1),
 Row(userId='1017', count=12),
 Row(userId='2767', count=15),
 Row(userId='486', count=40),
 Row(userId='1832', count=3),
 Row(userId='1611', count=52),
 Row(userId='2997', count=4),
 Row(userId='2459', count=11),
 Row(userId='2684', count=7),
 Row(userId='2591', count=2),
 Row(userId='1644', count=12),
 Row(userId='1847', count=1),
 Row(userId='1796', count=3),
 Row(userId='136', count=3),
 Row(userId='1208', count=5),
 Row(userId='2086', count=3),
 Row(userId='2940', count=4),
 Row(userId='1000', count=1),
 Row(userId='1820', count=3),
 Row(userId='1540', count=4),
 Row(userId='1668', count=42),
 Row(userId='1916', count=2),
 Row(userId='1541', count=2),
 Row(userId='517', count=16),
 Row(userId='756', count=1),
 Row(userId='2453', count=1),
 Row(userId='1187', count=3),
 Row(userId='1490', count=13),
 Row(userId='2599', count=5),
 Row(userId='1172', count=2),
 Row(userId='2412', count=55),
 Row(userId='2311', count=4),
 Row(userId='967', count=7),
 Row(userId='1110', count=5),
 Row(userId='2217', count=1),
 Row(userId='2304', count=3),
 Row(userId='678', count=3),
 Row(userId='344', count=3),
 Row(userId='1378', count=2),
 Row(userId='2290', count=92),
 Row(userId='104', count=6),
 Row(userId='1346', count=7),
 Row(userId='2213', count=2),
 Row(userId='978', count=10),
 Row(userId='229', count=4),
 Row(userId='60', count=2),
 Row(userId='702', count=4),
 Row(userId='2038', count=13),
 Row(userId='1165', count=76),
 Row(userId='2297', count=1),
 Row(userId='2168', count=19),
 Row(userId='2449', count=8),
 Row(userId='2832', count=1),
 Row(userId='1875', count=1),
 Row(userId='429', count=10),
 Row(userId='2958', count=7),
 Row(userId='578', count=2),
 Row(userId='1968', count=1),
 Row(userId='354', count=4),
 Row(userId='1967', count=2),
 Row(userId='1385', count=5),
 Row(userId='2661', count=1),
 Row(userId='1358', count=12),
 Row(userId='1331', count=4),
 Row(userId='1625', count=3),
 Row(userId='2049', count=1),
 Row(userId='2051', count=1),
 Row(userId='533', count=2),
 Row(userId='840', count=5),
 Row(userId='2373', count=9),
 Row(userId='2810', count=1),
 Row(userId='2293', count=1),
 Row(userId='55', count=2),
 Row(userId='1396', count=55),
 Row(userId='2927', count=3),
 Row(userId='2198', count=3),
 Row(userId='1740', count=1),
 Row(userId='2491', count=1),
 Row(userId='2204', count=1),
 Row(userId='1688', count=2),
 Row(userId='2004', count=7),
 Row(userId='491', count=9),
 Row(userId='1422', count=7),
 Row(userId='1790', count=2),
 Row(userId='2105', count=4),
 Row(userId='1311', count=1),
 Row(userId='349', count=3),
 Row(userId='694', count=1),
 Row(userId='1468', count=1),
 Row(userId='748', count=162),
 Row(userId='2243', count=1),
 Row(userId='1237', count=2),
 Row(userId='2851', count=2),
 Row(userId='1069', count=1),
 Row(userId='1107', count=67),
 Row(userId='2391', count=13),
 Row(userId='936', count=7),
 Row(userId='2160', count=118),
 Row(userId='1961', count=48),
 Row(userId='2994', count=7),
 Row(userId='1527', count=1),
 Row(userId='1571', count=2),
 Row(userId='1312', count=3),
 Row(userId='927', count=2),
 Row(userId='1852', count=4),
 Row(userId='2022', count=2),
 Row(userId='1716', count=3),
 Row(userId='2820', count=5),
 Row(userId='822', count=3),
 Row(userId='2428', count=2),
 Row(userId='1461', count=8),
 Row(userId='40', count=4),
 Row(userId='38', count=1),
 Row(userId='2152', count=7),
 Row(userId='2636', count=15),
 Row(userId='2008', count=3),
 Row(userId='913', count=6),
 Row(userId='2233', count=1),
 Row(userId='2867', count=57),
 Row(userId='1348', count=2),
 Row(userId='25', count=2),
 Row(userId='1506', count=1),
 Row(userId='2122', count=6),
 Row(userId='1693', count=3),
 Row(userId='2600', count=2),
 Row(userId='2416', count=3),
 Row(userId='827', count=2),
 Row(userId='1138', count=68),
 Row(userId='297', count=1),
 Row(userId='1725', count=9),
 Row(userId='1621', count=3),
 Row(userId='1828', count=4),
 Row(userId='233', count=2),
 Row(userId='2482', count=1),
 Row(userId='1955', count=42),
 Row(userId='2593', count=17),
 Row(userId='2143', count=5),
 Row(userId='779', count=8),
 Row(userId='957', count=8),
 Row(userId='2665', count=1),
 Row(userId='338', count=2),
 Row(userId='1426', count=1),
 Row(userId='2910', count=4),
 Row(userId='2202', count=6),
 Row(userId='1140', count=2),
 Row(userId='2084', count=48),
 Row(userId='2748', count=1),
 Row(userId='830', count=4),
 Row(userId='1842', count=7),
 Row(userId='1206', count=1),
 Row(userId='1116', count=1),
 Row(userId='2513', count=2),
 Row(userId='1442', count=4),
 Row(userId='2215', count=1),
 Row(userId='1567', count=46),
 Row(userId='1499', count=3),
 Row(userId='1245', count=1),
 Row(userId='2992', count=3),
 Row(userId='1393', count=3),
 Row(userId='2713', count=53),
 Row(userId='857', count=1),
 Row(userId='998', count=7),
 Row(userId='2692', count=3),
 Row(userId='2674', count=4),
 Row(userId='1400', count=2),
 Row(userId='1199', count=36),
 Row(userId='1523', count=4),
 Row(userId='2346', count=5),
 Row(userId='1604', count=3),
 Row(userId='1209', count=39),
 Row(userId='805', count=11),
 Row(userId='1872', count=1),
 Row(userId='2190', count=52),
 Row(userId='2533', count=20),
 Row(userId='2151', count=1),
 Row(userId='2181', count=5),
 Row(userId='2488', count=2),
 Row(userId='231', count=3),
 Row(userId='2922', count=5),
 Row(userId='1558', count=19),
 Row(userId='471', count=1),
 Row(userId='2523', count=6),
 Row(userId='450', count=2),
 Row(userId='2176', count=10),
 Row(userId='1471', count=3),
 Row(userId='1950', count=122),
 Row(userId='1564', count=6),
 Row(userId='1177', count=2),
 Row(userId='2254', count=3),
 Row(userId='869', count=5),
 Row(userId='108', count=15),
 Row(userId='1741', count=1),
 Row(userId='1077', count=5),
 Row(userId='612', count=4),
 Row(userId='117', count=5),
 Row(userId='1399', count=10),
 Row(userId='968', count=1),
 Row(userId='2884', count=3),
 Row(userId='247', count=4),
 Row(userId='2650', count=2),
 Row(userId='2715', count=18),
 Row(userId='2872', count=3),
 Row(userId='2675', count=7),
 Row(userId='2623', count=2),
 Row(userId='2073', count=1),
 Row(userId='816', count=1),
 Row(userId='1583', count=9),
 Row(userId='2109', count=8),
 Row(userId='58', count=313),
 Row(userId='949', count=2),
 Row(userId='2670', count=4),
 Row(userId='1708', count=3),
 Row(userId='461', count=2),
 Row(userId='2609', count=8),
 Row(userId='821', count=2),
 Row(userId='2259', count=6),
 Row(userId='2918', count=1),
 Row(userId='2632', count=20),
 Row(userId='877', count=4),
 Row(userId='1057', count=4),
 Row(userId='2574', count=4),
 Row(userId='1264', count=5),
 Row(userId='2743', count=13),
 Row(userId='2645', count=1),
 Row(userId='1129', count=1),
 Row(userId='2007', count=2),
 Row(userId='1122', count=2),
 Row(userId='2641', count=1),
 Row(userId='2594', count=3),
 Row(userId='2589', count=2),
 Row(userId='1561', count=10),
 Row(userId='363', count=1),
 Row(userId='865', count=3),
 Row(userId='1595', count=41),
 Row(userId='1035', count=103),
 Row(userId='1037', count=14),
 Row(userId='1163', count=2),
 Row(userId='1181', count=3),
 Row(userId='2384', count=1),
 Row(userId='81', count=4),
 Row(userId='1005', count=1),
 Row(userId='2985', count=3),
 Row(userId='1268', count=1),
 Row(userId='2425', count=4),
 Row(userId='896', count=3),
 Row(userId='2897', count=3),
 Row(userId='622', count=7),
 Row(userId='540', count=20),
 Row(userId='242', count=3),
 Row(userId='1050', count=10),
 Row(userId='708', count=2),
 Row(userId='1744', count=2),
 Row(userId='778', count=1),
 Row(userId='2560', count=2),
 Row(userId='2074', count=5),
 Row(userId='2266', count=5),
 Row(userId='1162', count=4),
 Row(userId='2680', count=2),
 Row(userId='2553', count=2),
 Row(userId='2944', count=1),
 Row(userId='739', count=2),
 Row(userId='1478', count=2),
 Row(userId='623', count=6),
 Row(userId='150', count=6),
 Row(userId='526', count=13),
 Row(userId='1680', count=5),
 Row(userId='2813', count=62),
 Row(userId='654', count=3),
 Row(userId='860', count=6),
 Row(userId='1969', count=1),
 Row(userId='393', count=5),
 Row(userId='2446', count=1),
 Row(userId='2885', count=2),
 Row(userId='2489', count=1),
 Row(userId='48', count=1),
 Row(userId='1319', count=2),
 Row(userId='2083', count=2),
 Row(userId='2132', count=2),
 Row(userId='950', count=10),
 Row(userId='1980', count=4),
 Row(userId='2912', count=4),
 Row(userId='2302', count=29),
 Row(userId='1881', count=42),
 Row(userId='1430', count=24),
 Row(userId='243', count=3),
 Row(userId='1413', count=1),
 Row(userId='1891', count=1),
 Row(userId='141', count=56),
 Row(userId='240', count=3),
 Row(userId='377', count=4),
 Row(userId='2383', count=7),
 Row(userId='159', count=5),
 Row(userId='2125', count=6),
 Row(userId='2186', count=28),
 Row(userId='1411', count=16),
 Row(userId='1724', count=6),
 Row(userId='1221', count=2),
 Row(userId='316', count=72),
 Row(userId='158', count=2),
 Row(userId='1869', count=57),
 Row(userId='2244', count=3),
 Row(userId='2053', count=1),
 Row(userId='2528', count=13),
 Row(userId='838', count=1),
 Row(userId='547', count=3),
 Row(userId='1274', count=1),
 Row(userId='1169', count=1),
 Row(userId='1174', count=18),
 Row(userId='1132', count=1),
 Row(userId='1715', count=4),
 Row(userId='266', count=2),
 Row(userId='2664', count=3),
 Row(userId='922', count=1),

In [47]:
user_log.select(
    ["userId", "firstname", "page", "song"]
    ).where(user_log.userId == "1351").collect()

[Row(userId='1351', firstname='Zachary', page='NextSong', song='Godine prolaze'),
 Row(userId='1351', firstname='Zachary', page='NextSong', song='Your Decision'),
 Row(userId='1351', firstname='Zachary', page='NextSong', song='Un Mundo Raro'),
 Row(userId='1351', firstname='Zachary', page='NextSong', song='Neighborhoods'),
 Row(userId='1351', firstname='Zachary', page='NextSong', song='The Way I Loved You'),
 Row(userId='1351', firstname='Zachary', page='NextSong', song='I Gotta Feeling')]

In [48]:
user_log.select(
    ["userId", "firstname", "page", "song"]
    ).where(user_log.userId == "974").collect()

[Row(userId='974', firstname='Abegail', page='Home', song=None),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Gunn Clapp'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Sweet Nothings Gone Forever'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Take The "A" Train'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Chaplin'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Emily Dickinson'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Almaz'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Peace Of Mind'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Here I Am (Come And Take Me)'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Superstition'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='A Certain Romance'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Me About You'),
 Row(userId='974', firstname='Abegail', page='NextSong', song="Life's Been Good (Live Version)"),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Serenity'),
 Row(userId='974', firstname='Abegail', page='NextSong', song='Iyomanzai'),
 Row(userId='974', firstname='Abegail', page='NextSong', song="Nothin' On You [feat. Bruno Mars] (Album Version)")]

In [49]:
user_log.describe().show()

+-------+-----------------+----------+---------+------+------------------+--------+------------------+-----+------------+------+-------+--------------------+------------------+--------+------------------+--------------------+--------------------+------------------+
|summary|           artist|      auth|firstName|gender|     itemInSession|lastName|            length|level|    location|method|   page|        registration|         sessionId|    song|            status|                  ts|           userAgent|            userId|
+-------+-----------------+----------+---------+------+------------------+--------+------------------+-----+------------+------+-------+--------------------+------------------+--------+------------------+--------------------+--------------------+------------------+
|  count|             8347|     10000|     9664|  9664|             10000|    9664|              8347|10000|        9664| 10000|  10000|                9664|             10000|    8347|             10000|               10000|                9664|             10000|
|   mean|            461.0|      NULL|     NULL|  NULL|           19.6734|    NULL|249.64865874925044| NULL|        NULL|  NULL|   NULL|1.504695369588739...|         4436.7511|Infinity|          202.8984|  1.5137859954164E12|                NULL|1442.4413286423842|
| stddev|            300.0|      NULL|     NULL|  NULL|25.382114916132593|    NULL| 95.00437130781461| NULL|        NULL|  NULL|   NULL| 8.473142521316586E9|2043.1281541827552|     NaN|18.041791154505876|3.2908288623558097E7|                NULL| 829.8909432082618|
|    min|              !!!|     Guest|   Aakash|     F|                 0| Acevedo|           1.12281| free|Aberdeen, WA|   GET|  About|       1463503881284|                 9|      #1|               200|       1513720872284|"Mozilla/5.0 (Mac...|                  |
|    max|ÃÂlafur Arnalds|Logged Out|     Zoie|     M|               163|  Zuniga|         1806.8371| paid|    Yuma, AZ|   PUT|Upgrade|       1513760702284|              7144|wingless|               404|       1513848349284|Mozilla/5.0 (comp...|               999|
+-------+-----------------+----------+---------+------+------------------+--------+------------------+-----+------------+------+-------+--------------------+------------------+--------+------------------+--------------------+--------------------+------------------+

In [50]:
# Drop Rows with Missing Values
user_log_valid = user_log.dropna(how = "any", subset = ["userId", "sessionId"])
user_log_valid.count()

10000

In [51]:
user_log.select("userId").dropDuplicates().sort("userId").show(n=9)

+------+
|userId|
+------+
|      |
|    10|
|   100|
|  1000|
|  1003|
|  1005|
|  1006|
|  1017|
|  1019|
+------+
only showing top 9 rows

In [55]:
user_log_valid.select("page").distinct().show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|           Login|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [61]:
# Submit Downgrade

user_log_valid.filter("page = 'Submit Downgrade'").show()

+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----------------+-------------+---------+----+------+-------------+--------------------+------+
|artist|     auth|firstName|gender|itemInSession|lastName|length|level|            location|method|            page| registration|sessionId|song|status|           ts|           userAgent|userId|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----------------+-------------+---------+----+------+-------------+--------------------+------+
|  NULL|Logged In|    Kelly|     F|           24|  Newton|  NULL| paid|Houston-The Woodl...|   PUT|Submit Downgrade|1513283366284|     5931|NULL|   307|1513768454284|Mozilla/5.0 (Wind...|  1138|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----------------+-------------+---------+----+------+-------------+--------------------+------+

In [60]:
# Save Settings

user_log_valid.filter("page = 'Save Settings'").show()

+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+-------------+-------------+---------+----+------+-------------+--------------------+------+
|artist|     auth|firstName|gender|itemInSession|lastName|length|level|            location|method|         page| registration|sessionId|song|status|           ts|           userAgent|userId|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+-------------+-------------+---------+----+------+-------------+--------------------+------+
|  NULL|Logged In|  Enrique|     M|           17|  Miller|  NULL| paid|Chicago-Napervill...|   PUT|Save Settings|1500182660284|     5641|NULL|   307|1513739372284|"Mozilla/5.0 (Win...|    58|
|  NULL|Logged In|  Damarco|     M|            2|  Cooper|  NULL| paid|   Winston-Salem, NC|   PUT|Save Settings|1510023739284|     5104|NULL|   307|1513751955284|Mozilla/5.0 (Wind...|  1647|
|  NULL|Logged In|  Michael|     M|            4|    Hill|  NULL| paid|      Huntsville, AL|   PUT|Save Settings|1507609419284|     3266|NULL|   307|1513783958284|"Mozilla/5.0 (Mac...|   957|
|  NULL|Logged In|     John|     M|           32|  Bryant|  NULL| paid|New York-Newark-J...|   PUT|Save Settings|1511650852284|     5066|NULL|   307|1513794928284|Mozilla/5.0 (Wind...|  1961|
|  NULL|Logged In|    Kaden|     M|           46|  Mclean|  NULL| paid|Phoenix-Mesa-Scot...|   PUT|Save Settings|1504346253284|     5642|NULL|   307|1513795549284|"Mozilla/5.0 (Mac...|  1611|
|  NULL|Logged In|    Kaden|     M|           50|  Mclean|  NULL| paid|Phoenix-Mesa-Scot...|   PUT|Save Settings|1504346253284|     5642|NULL|   307|1513795684284|"Mozilla/5.0 (Mac...|  1611|
|  NULL|Logged In|    Lucas|     M|            2| Johnson|  NULL| paid|Minneapolis-St. P...|   PUT|Save Settings|1493437470284|      589|NULL|   307|1513804107284|"Mozilla/5.0 (Win...|   590|
|  NULL|Logged In|     John|     M|            6|   Banks|  NULL| free|Seattle-Tacoma-Be...|   PUT|Save Settings|1505068819284|     6527|NULL|   307|1513804887284|"Mozilla/5.0 (Win...|  2767|
|  NULL|Logged In|  Enrique|     M|           77|  Miller|  NULL| paid|Chicago-Napervill...|   PUT|Save Settings|1500182660284|     6740|NULL|   307|1513825667284|"Mozilla/5.0 (Win...|    58|
|  NULL|Logged In|   Kamiya|     F|            3|    Dean|  NULL| free|        Rockford, IL|   PUT|Save Settings|1508817838284|     5568|NULL|   307|1513845228284|Mozilla/5.0 (Wind...|  2566|
|  NULL|Logged In|    Lucas|     M|            2|  Lawson|  NULL| free|Scranton--Wilkes-...|   PUT|Save Settings|1508972403284|     2879|NULL|   307|1513845370284|"Mozilla/5.0 (Win...|  2880|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+-------------+-------------+---------+----+------+-------------+--------------------+------+

In [59]:
# NextSong

user_log_valid.filter("page = 'NextSong'").show()

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|       Showaddywaddy|Logged In|  Kenneth|     M|          112| Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|
|          Lily Allen|Logged In|Elizabeth|     F|            7|    Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|
|Cobra Starship Fe...|Logged In|     Vera|     F|            6|Blackwell|196.20526| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Good Girls Go Bad...|   200|1513720881284|"Mozilla/5.0 (Mac...|  2219|
|          Alex Smoke|Logged In|   Sophee|     F|            8|   Barker|405.99465| paid|San Luis Obispo-P...|   PUT|NextSong|1513009647284|     2372| Don't See The Point|   200|1513720905284|"Mozilla/5.0 (Win...|  2373|
|              Redman|Logged In|    Paige|     F|            0|   Hunter|154.53995| free|       Brownwood, TX|   PUT|NextSong|1498414068284|     4406|        Smoke Buddah|   200|1513720955284|"Mozilla/5.0 (Mac...|  1162|
|     Ulrich Schnauss|Logged In|  Gabriel|     M|            2|     Koch|402.93832| paid|     Panama City, FL|   PUT|NextSong|1505820418284|     1060|           On My Own|   200|1513720959284|Mozilla/5.0 (Wind...|  1061|
|               Jay-Z|Logged In|  Micheal|     M|           23|   Morgan|223.26812| paid|        Sterling, CO|   PUT|NextSong|1485051492284|     5175|Heart Of The City...|   200|1513720983284|"Mozilla/5.0 (Win...|  1806|
|         Evanescence|Logged In|    Mason|     M|            3|   Thomas|237.11302| paid|Indianapolis-Carm...|   PUT|NextSong|1487015656284|     5661|    Bring Me To Life|   200|1513720993284|Mozilla/5.0 (comp...|   748|
|     Scissor Sisters|Logged In|   Justin|     M|           82|    Jones|218.01751| paid|          Dayton, TN|   PUT|NextSong|1504706730284|     1175|               Laura|   200|1513721031284|"Mozilla/5.0 (Win...|  1176|
|        3 Doors Down|Logged In|     Zoie|     F|           28|   Wright|237.13914| paid|Chicago-Napervill...|   PUT|NextSong|1512172030284|     2163|    Here Without You|   200|1513721045284|"Mozilla/5.0 (Mac...|  2164|
|       George Younce|Logged In|  Malachi|     M|            3|     Lane|191.68608| free|     Sioux Falls, SD|   PUT|NextSong|1510109243284|     5272|This Old House w/...|   200|1513721058284|Mozilla/5.0 (Wind...|  2146|
|              Aly-Us|Logged In|     Vera|     F|            7|Blackwell|383.58159| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Follow Me (Club Mix)|   200|1513721077284|"Mozilla/5.0 (Mac...|  2219|
|            BjÃÂ¶rk|Logged In|    Elena|     F|            0|   Newman|348.57751| free|Boston-Cambridge-...|   PUT|NextSong|1513494341284|     2903|                Undo|   200|1513721095284|Mozilla/5.0 (Wind...|  2904|
|      David Bromberg|Logged In|Alexander|     M|            1|    Short|146.36363| free|       Green Bay, WI|   PUT|NextSong|1513594398284|     3689|Sheebeg And Sheemore|   200|1513721097284|"Mozilla/5.0 (Win...|   597|
|          Nickelback|Logged In|  Abigail|     F|            4| Davidson|238.18404| paid|Lansing-East Lans...|   PUT|NextSong|1513173389284|     4591|Far Away (Album V...|   200|1513721104284|"Mozilla/5.0 (Mac...|   226|
|       Darius Rucker|Logged In|  Kenneth|     M|          113| Matthews|206.00118| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|  Be Wary Of A Woman|   200|1513721104284|"Mozilla/5.0 (Win...|  1046|
|       Mayday Parade|Logged In|    Paige|     F|            1|   Hunter|241.42322| free|       Brownwood, TX|   PUT|NextSong|1498414068284|     4406|I'd Hate To Be Yo...|   200|1513721109284|"Mozilla/5.0 (Mac...|  1162|
|        Simple Minds|Logged In|    Ryder|     M|            1|Rodriguez|401.78893| free|        Freeport, IL|   PUT|NextSong|1513668346284|     2941|       Oh Jungleland|   200|1513721127284|"Mozilla/5.0 (Mac...|  2942|
|    Dropkick Murphys|Logged In|   Eliana|     F|            1|   Thomas|159.76444| paid|       Knoxville, TN|   PUT|NextSong|1511496362284|     4686|Captain Kelly's K...|   200|1513721182284|"Mozilla/5.0 (Win...|  2779|
|     Milczenie Owiec|Logged In|  Micheal|     M|           24|   Morgan|219.29751| paid|        Sterling, CO|   PUT|NextSong|1485051492284|     5175|             CIEÃÂ|   200|1513721206284|"Mozilla/5.0 (Win...|  1806|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 20 rows

In [58]:
# Upgrade

user_log_valid.filter("page = 'Upgrade'").show()

+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+-------+-------------+---------+----+------+-------------+--------------------+------+
|artist|     auth|firstName|gender|itemInSession| lastName|length|level|            location|method|   page| registration|sessionId|song|status|           ts|           userAgent|userId|
+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+-------+-------------+---------+----+------+-------------+--------------------+------+
|  NULL|Logged In|   Easton|     M|            1|   Harris|  NULL| free|Washington-Arling...|   GET|Upgrade|1511647902284|     4748|NULL|   200|1513727963284|"Mozilla/5.0 (Win...|   553|
|  NULL|Logged In|   Ashton|     M|            3|   Nelson|  NULL| free|Los Angeles-Long ...|   GET|Upgrade|1510608931284|      511|NULL|   200|1513730196284|Mozilla/5.0 (Wind...|   512|
|  NULL|Logged In|   Dreden|     M|            2|Rodriguez|  NULL| free|New York-Newark-J...|   GET|Upgrade|1513620661284|     5846|NULL|   200|1513739103284|Mozilla/5.0 (Wind...|  1232|
|  NULL|Logged In|  Emireth|     F|            4|Rodriguez|  NULL| free|  Killeen-Temple, TX|   GET|Upgrade|1481208032284|      445|NULL|   200|1513741304284|"Mozilla/5.0 (Mac...|   446|
|  NULL|Logged In|    Silas|     M|            9|   Coffey|  NULL| free|  Kansas City, MO-KS|   GET|Upgrade|1508499135284|     5826|NULL|   200|1513744352284|Mozilla/5.0 (Wind...|  2528|
|  NULL|Logged In| Jonathan|     M|            1|  Webster|  NULL| free|Los Angeles-Long ...|   GET|Upgrade|1505697773284|     1078|NULL|   200|1513749215284|"Mozilla/5.0 (Mac...|  1079|
|  NULL|Logged In|     Ella|     F|            3|    Evans|  NULL| free|    Cedar Rapids, IA|   GET|Upgrade|1513136437284|     5903|NULL|   200|1513752510284|"Mozilla/5.0 (Mac...|  2636|
|  NULL|Logged In|   London|     F|            1|Dominguez|  NULL| free|        Syracuse, NY|   GET|Upgrade|1512967206284|      539|NULL|   200|1513753825284|"Mozilla/5.0 (Mac...|   540|
|  NULL|Logged In| Samantha|     F|            4|    Gates|  NULL| free|Naples-Immokalee-...|   GET|Upgrade|1513618017284|     4353|NULL|   200|1513766125284|"Mozilla/5.0 (Mac...|   989|
|  NULL|Logged In| Michelle|     F|            8|Hernandez|  NULL| free|Los Angeles-Long ...|   GET|Upgrade|1512904367284|     2003|NULL|   200|1513770590284|"Mozilla/5.0 (Mac...|  2004|
|  NULL|Logged In|    Lucas|     M|            1|  Mcbride|  NULL| free|  Kansas City, MO-KS|   GET|Upgrade|1485753479284|     6093|NULL|   200|1513773625284|"Mozilla/5.0 (Win...|  1580|
|  NULL|Logged In|  Zachary|     M|            5| Oconnell|  NULL| free|Chicago-Napervill...|   GET|Upgrade|1505352683284|     6195|NULL|   200|1513780819284|"Mozilla/5.0 (Win...|  2533|
|  NULL|Logged In|  Zachary|     M|            6| Oconnell|  NULL| free|Chicago-Napervill...|   GET|Upgrade|1505352683284|     6195|NULL|   200|1513780892284|"Mozilla/5.0 (Win...|  2533|
|  NULL|Logged In|     Jack|     M|            6|    Kelly|  NULL| free|Los Angeles-Long ...|   GET|Upgrade|1492304380284|     5341|NULL|   200|1513781765284|"Mozilla/5.0 (Mac...|  1869|
|  NULL|Logged In|  Ryleigh|     F|            1| Melendez|  NULL| free|Dallas-Fort Worth...|   GET|Upgrade|1503040317284|     2080|NULL|   200|1513783319284|"Mozilla/5.0 (Mac...|  2081|
|  NULL|Logged In|  Milania|     F|            2|     Buck|  NULL| free|Austin-Round Rock...|   GET|Upgrade|1507906314284|     5249|NULL|   200|1513784358284|"Mozilla/5.0 (Mac...|   900|
|  NULL|Logged In|    Ethan|     M|            2|  Schmidt|  NULL| free|Indianapolis-Carm...|   GET|Upgrade|1495789080284|     4990|NULL|   200|1513784884284|"Mozilla/5.0 (Win...|  1296|
|  NULL|Logged In|    Ethan|     M|            3|  Schmidt|  NULL| free|Indianapolis-Carm...|   GET|Upgrade|1495789080284|     4990|NULL|   200|1513784984284|"Mozilla/5.0 (Win...|  1296|
|  NULL|Logged In|     Erik|     M|            2|   Martin|  NULL| free|Dallas-Fort Worth...|   GET|Upgrade|1505313907284|     5819|NULL|   200|1513787576284|"Mozilla/5.0 (Win...|    32|
|  NULL|Logged In|   Justin|     M|            1|   Jordan|  NULL| free|       Rochester, NY|   GET|Upgrade|1509201044284|     6330|NULL|   200|1513787712284|"Mozilla/5.0 (Mac...|  2760|
+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+-------+-------------+---------+----+------+-------------+--------------------+------+
only showing top 20 rows

In [62]:
# Error

user_log_valid.filter("page = 'Error'").show()

+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+-----+-------------+---------+----+------+-------------+--------------------+------+
|artist|     auth|firstName|gender|itemInSession| lastName|length|level|            location|method| page| registration|sessionId|song|status|           ts|           userAgent|userId|
+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+-----+-------------+---------+----+------+-------------+--------------------+------+
|  NULL|Logged In|     Zoie|     F|           87|   Wright|  NULL| paid|Chicago-Napervill...|   GET|Error|1512172030284|     2163|NULL|   404|1513734618284|"Mozilla/5.0 (Mac...|  2164|
|  NULL|Logged In|   Sophia|     F|           13|Gutierrez|  NULL| paid|Birmingham-Hoover...|   GET|Error|1513249725284|     4678|NULL|   404|1513744733284|"Mozilla/5.0 (Mac...|  1037|
|  NULL|Logged In|    Diego|     M|            5|   Thomas|  NULL| paid|       Blackfoot, ID|   GET|Error|1506879344284|     5579|NULL|   404|1513747163284|"Mozilla/5.0 (Mac...|  1019|
|  NULL|Logged In|    Jacob|     M|            1|   Murphy|  NULL| free|         Jackson, MI|   GET|Error|1479312267284|     6178|NULL|   404|1513781964284|"Mozilla/5.0 (Mac...|  1964|
|  NULL|Logged In|    Tyler|     M|            3|   Morris|  NULL| paid|Philadelphia-Camd...|   GET|Error|1509616156284|     6050|NULL|   404|1513782455284|"Mozilla/5.0 (Mac...|  1950|
|  NULL|Logged In|   Olivia|     F|           10|   Oneill|  NULL| paid|Allentown-Bethleh...|   GET|Error|1488509117284|     1084|NULL|   404|1513788122284|"Mozilla/5.0 (Mac...|  1085|
|  NULL|Logged In|  Enrique|     M|           28|   Miller|  NULL| paid|Chicago-Napervill...|   GET|Error|1500182660284|     6616|NULL|   404|1513795450284|"Mozilla/5.0 (Win...|    58|
|  NULL|Logged In|     Jose|     M|           15|   Becker|  NULL| paid|     Albuquerque, NM|   GET|Error|1491713721284|     5394|NULL|   404|1513800388284|Mozilla/5.0 (X11;...|   141|
|  NULL|Logged In|    Lucas|     M|           13|  Johnson|  NULL| paid|Minneapolis-St. P...|   GET|Error|1493437470284|      589|NULL|   404|1513805955284|"Mozilla/5.0 (Win...|   590|
|  NULL|Logged In|   Joseph|     M|           71|    Beard|  NULL| paid|Philadelphia-Camd...|   GET|Error|1507105256284|     5525|NULL|   404|1513827019284|"Mozilla/5.0 (Mac...|  1082|
|  NULL|Logged In|  Brennan|     M|            2|   Oliver|  NULL| free|Houston-The Woodl...|   GET|Error|1488751398284|     6775|NULL|   404|1513844848284|"Mozilla/5.0 (Mac...|  2117|
|  NULL|Logged In|      Ava|     F|            3|   Walker|  NULL| paid|     Springfield, MO|   GET|Error|1498732510284|     5679|NULL|   404|1513847424284|"Mozilla/5.0 (Win...|  1915|
+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+-----+-------------+---------+----+------+-------------+--------------------+------+

In [65]:
user_log.select(["userId", "firstname", "page", "level", "song"]).where(user_log.userId == "1138").collect()

[Row(userId='1138', firstname='Kelly', page='Home', level='paid', song=None),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Everybody Everybody'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Gears'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Use Somebody'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Love Of My Life (1993 Digital Remaster)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Down In The Valley Woe'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Treat Her Like A Lady'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song="Everybody Thinks You're An Angel"),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Fourteen Wives'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Love On The Rocks'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Breakeven'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Leaf House'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='NAISEN KANSSA'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song="You're In My Heart"),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Roll On Down The Highway'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Plasticities (Remix)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Secrets'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Hello'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='I Never Told You'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Love Break Me'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='One Touch One Bounce'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Undo'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Overdue (Blackbeard Remix)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Slave To Love (1999 Digital Remaster)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Stronger'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='All Of Us (Album Version)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Sehr kosmisch'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='March Of The Celts'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Electricity'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Aces High'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Bananeira'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='The General'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='HÃ\x83Â©roe De Leyenda (VersiÃ\x83Â³n Maxi)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song="Don't Stop The Music"),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song="You're The One"),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Entering White Cecilia'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Piccolo Cesare'),
 Row(userId='1138', firstname='Kelly', page='Help', level='paid', song=None),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Last Christmas (Album Version)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='You Shook Me'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Going Steady'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='My Name Is'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Undo'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Secrets'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Good Times Gone (Album Version)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Angelito'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Batdance ( LP Version )'),
 Row(userId='1138', firstname='Kelly', page='Home', level='paid', song=None),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='DiÃ\x83Â¡kdal'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Whirring'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Potholderz (feat. Count Bass D)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Seaside'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Louder Than A Bomb'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Just Like You'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song="You're The One"),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Turn It Again (Album Version)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Everywhere I Go'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song="Easy Skankin'"),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Roses'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Killing Me Softly With His Song'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='The Razor (Album Version)'),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='paid', song='Idols and Anchors'),
 Row(userId='1138', firstname='Kelly', page='Downgrade', level='paid', song=None),
 Row(userId='1138', firstname='Kelly', page='Submit Downgrade', level='paid', song=None),
 Row(userId='1138', firstname='Kelly', page='Home', level='free', song=None),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='free', song='Bones'),
 Row(userId='1138', firstname='Kelly', page='Home', level='free', song=None),
 Row(userId='1138', firstname='Kelly', page='NextSong', level='free', song='Grenouilles Mantidactylus (Small Frogs)')]